version: '3.8'
services:
  db:
    image: postgres:15
    container_name: educare-db
    environment:
      POSTGRES_DB: educare
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0000
    ports:
      - "5432:5432"
    volumes:
      - educare-data:/var/lib/postgresql/data
    networks:
      - educare-network
    restart: always

volumes:
  educare-data:

networks:
  educare-network:
    driver: bridge